$breakpoint-tablet: 800px;
$breakpoint-phone: 550px;

@media only screen and (max-width: $breakpoint-tablet) {
    #footer {
        width: 350px;
    }
    
    #libraryCards {
        .card {
            width: 500px !important; 
        }
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    #footer {
        width: 250px;
    }

    #libraryCards {
        .card {
            width: 300px !important;
        }
    }
}
