#books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

#books .card {
  margin: 15px 10px;
}

#pageLogo {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #books .card {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  #books .card {
    width: 300px;
  }
}
