// Variables
    $breakpoint-tablet: 800px;
    $breakpoint-phone: 550px;

// IDs
    #header  {
        text-align: center;

        &Logo {
            margin-top: 50px !important;
        }

        > * {
            margin: 20px auto;
        }
        
        button {
            margin-right: 10px;
        }
    }

    #books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 0;
        
        .card{
            margin: 15px 10px;
        }

        #addBookCard {
            width: 200px;
        }
    }

// Media Queries
    @media only screen and (max-width: $breakpoint-tablet) {
        #books {
            .card {
                width: 500px !important; 
            }
        }
    }
    @media only screen and (max-width: $breakpoint-phone) {
        #books {
            .card {
                width: 300px !important;
            }
        }
    }
