#books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

#books .card {
  margin: 15px 20px;
  width: 25rem;
}

#books #bookCover {
  background-color: #f7f7f7;
  height: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
