body {
  padding-top: 75px;
  padding-bottom: 200px;
}

#emptyLibraryText {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

#footer {
  margin: 0 auto;
  width: 450px;
}

#header {
  text-align: center;
}

#headerLogo {
  margin-bottom: 25px;
}

#libraryCards .card {
  float: none;
  margin: 0px auto 25px auto;
  width: 500px !important;
}

.divider {
  margin: 50px auto;
  width: 300px;
}

@media only screen and (max-width: 800px) {
  #libraryCards .card {
    width: 500px !important;
  }
}

@media only screen and (max-width: 550px) {
  #libraryCards .card {
    width: 300px !important;
  }
}
