#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
    
    .card{
        margin: 15px 20px;
        width: 25rem;
    }

    #book {
        &Cover {
            background-color: #f7f7f7;
            height: 30vh;
            object-fit: contain;
            width: 100%;
        }
    }
}